$height: 46px;
body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: rgb(214, 219, 219);
  background: rgb(77, 76, 76);
}

.app {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 650px;
  .wrap {
    width: 500px;
  }
}

.select-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
}

.select {
  z-index: 10px;
  width: 100%;
  position: relative;
  cursor: pointer;
  &-input {
    border: 1px solid #ccc;
    border-radius: 5px;
    height: $height;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    cursor: pointer;
    justify-content: space-between;
  }
  &-dropdown {
    position: absolute;
    border: 1px solid #ccc;
    border-radius: 5px;
    left: 0;
    right: 0;
    top: $height;
    max-height: 200px;
    overflow-y: auto;
    box-shadow: 2px 3px 5px rgb(0, 0, 0, 0.3);
    display: none;
  }

  &-list {
    padding: 0;
    margin: 0;
    list-style: none;
    .select-list__item {
      padding: 1rem;
      border-bottom: 1px solid #ccc;
      &.selected {
        background-color: #ccc;
        color: rgb(77, 76, 76);
      }
      &:hover {
        color: rgb(77, 76, 76);
        background-color: #ccc;
        cursor: pointer;
        transition: 0.2s background-color ease-in;
      }
    }
  }
}
.open {
  .select-dropdown {
    display: block;
  }
  .select-input {
    border-bottom: none;
  }
  .select-backdrop {
    display: block;
  }
}
